@tailwind base;
@tailwind components;
@tailwind utilities;

.button_slide {
    color: #000;
    border: 2px solid #1286e9;
    border-radius: 9px;
    padding: 7px 57px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #1286e9;
    transition: ease-out 0.4s;
  }
  
  .slide_down:hover {
    box-shadow: inset 0 100px 0 0 #1286e9;
  }
